@charset "UTF-8";
@font-face {
  font-family: "Shrikhand";
  src: url(../font/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf);
}

@-webkit-keyframes spin {
  /* Animation loader*/
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  /* Animation loader*/
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  /* Animation Loader */
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  /* Animation Loader */
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes heart-anim {
  /*Animation "J'aime*/
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes heart-anim {
  /*Animation "J'aime*/
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes slideIn {
  /* Animation chargement pages des restaurants */
  0% {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideIn {
  /* Animation chargement pages des restaurants */
  0% {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes panierCheck {
  /* Animation ajout de plat à la commande */
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes panierCheck {
  /* Animation ajout de plat à la commande */
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes spinCheck {
  /* Animation ajout de plat à la commande */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinCheck {
  /* Animation ajout de plat à la commande */
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 167px) {
  body section .too {
    font-size: 10px;
  }
  .fonctionnement ol li p:first-child {
    font-size: 10px;
  }
  .fonctionnement ol li p:nth-child(3) {
    font-size: 10px;
  }
}

/* Page D'accueil */
.container {
  /* Loader */
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeOut 3s forwards;
          animation: fadeOut 3s forwards;
}

.container .loader {
  border-right: 16px solid #FF79DA;
  border-top: 16px solid #9356DC;
  border-bottom: 16px solid #99E2D0;
  border-left: 16px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

body {
  font-size: 16px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 20px;
  width: 90%;
  margin: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px 0px;
  -webkit-box-shadow: 0px 0px 0px 20px black;
          box-shadow: 0px 0px 0px 20px black;
}

header img {
  width: 42%;
}

header a {
  /* Bouton retour */
  position: absolute;
  left: 30px;
}

header i {
  font-size: 20px;
}

.loc {
  /* Formulaire de recherche localisation */
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.loc i {
  font-size: 18px;
  left: 40px;
}

.loc form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form input {
  background-color: #ebebeb;
  border: none;
  padding: 10px 0px 10px 10px;
  font-size: 20px;
  width: 70%;
  left: 50px;
  text-overflow: ellipsis;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  padding: 15px 0px 50px 0px;
}

.intro h1 {
  width: 70%;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.intro p {
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin: 10px 0px 20px 0px;
  color: gray;
}

button {
  /* Boutons "Commander" */
  font-size: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 100px;
  padding: 15px;
  color: white;
  border: none;
  width: 55%;
  -webkit-box-shadow: 2px 2px 11px #f2f2f272;
          box-shadow: 2px 2px 11px #f2f2f272;
  text-align: center;
}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF83DA), to(#935eDC));
  background: linear-gradient(#FF83DA, #935eDC);
  -webkit-box-shadow: 4px 4px 15px #dfdfdf;
          box-shadow: 4px 4px 15px #dfdfdf;
  cursor: pointer;
}

.fonctionnement {
  /* Partie fonctionnement de l'appli */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.fonctionnement ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 0px;
  width: 85%;
}

.fonctionnement ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 70px;
  background-color: #F2F2F2;
  margin: 0px;
  -webkit-box-shadow: 0px 5px 5px 0px lightgray;
          box-shadow: 0px 5px 5px 0px lightgray;
  border-radius: 15px;
  gap: 20px;
  text-overflow: ellipsis;
}

.fonctionnement ol li:hover {
  background-color: #ECEBEE;
  cursor: pointer;
}

.fonctionnement ol li:hover i {
  color: #9356DC;
}

.fonctionnement ol li i {
  color: gray;
  font-size: 15px;
}

.fonctionnement ol li p {
  font-size: 16px;
  font-weight: bold;
}

.fonctionnement ol li p:first-child {
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 13px;
  padding: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: white;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding: 30px 0px 70px 0px;
  background-color: #F2F2F2;
  margin-top: 60px;
}

.restaurants h2 {
  margin-bottom: 0px;
  font-size: 23px;
}

.nouveau {
  /* Vignettes "Nouveau" sur les cartes de restaurants */
  position: absolute;
  background-color: #99E2D0;
  padding: 5px 10px 5px 10px;
  color: green;
  right: 15px;
  font-weight: bold;
  font-size: 12px;
}

.card {
  /* Cartes de restaurants */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 230px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 5px 10px 2px lightgray;
          box-shadow: 2px 5px 10px 2px lightgray;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card__img {
  /* Partie image des cartes */
  height: 68%;
  width: 100%;
}

.card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}

.card__desc {
  /* Partie inférieure des cartes */
  text-decoration: none;
  height: 32%;
  font-size: 20px;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__desc > a {
  /* Texte de description */
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  font-size: 17px;
}

.card__desc > a h3, .card__desc > a p {
  margin: 0px;
}

.card__desc > div {
  /* Bouton "J'aime" */
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card__desc > div i {
  font-size: 25px;
}

.card__desc > div .fa-solid {
  /* Le coeur rose est invisible par défault */
  opacity: 0;
  position: absolute;
}

.card__desc > div .fa-regular {
  opacity: 1;
  position: absolute;
}

.card__desc > div:hover .fa-solid {
  /* Le coeur rose apparait */
  opacity: 1;
  color: #FF79DA;
  -webkit-animation: heart-anim 250ms;
          animation: heart-anim 250ms;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

/* Partie pages restaurants */
.carte {
  background-color: #f2f2f2;
}

.carte__img {
  /* Image en fond sur la page de menu */
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  border-radius: 50px 50px 0px 0px;
  background-color: #F2F2F2;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 65px;
  gap: 30px;
}

.section__titre {
  /* Titres de restaurant sur la page de menu */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.section__titre h1 {
  margin: 0px;
  font-size: 25px;
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
}

.section__titre--i {
  position: absolute;
  right: 40px;
  width: 25px;
  height: 25px;
}

.section__titre--i i {
  font-size: 25px;
}

.section__titre--i:hover {
  cursor: pointer;
}

.section__titre--i:hover .fa-solid {
  opacity: 1;
  color: #FF79DA;
  -webkit-animation: heart-anim 250ms;
          animation: heart-anim 250ms;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.section__titre .fa-solid {
  /* Le coeur rose est invisble par défault */
  opacity: 0;
  position: absolute;
}

.section__titre .fa-regular {
  opacity: 1;
  position: absolute;
}

.section button {
  margin: 20px 20%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: 100%;
  /* Animation chargement page des menus */
  /* Animation chargement page des menus */
  /* Animation chargement page des menus */
}

.menu h2 {
  font-weight: lighter;
  font-size: 17px;
}

.menu hr {
  /* Sous-lignage */
  position: relative;
  left: 5%;
  bottom: 7px;
  margin: 0px;
  width: 42px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
}

.menu--1 {
  -webkit-animation: slideIn 2s calc(1s * 1) both;
          animation: slideIn 2s calc(1s * 1) both;
}

.menu--2 {
  -webkit-animation: slideIn 2s calc(1s * 2) both;
          animation: slideIn 2s calc(1s * 2) both;
}

.menu--3 {
  -webkit-animation: slideIn 2s calc(1s * 3) both;
          animation: slideIn 2s calc(1s * 3) both;
}

.menu__case {
  /* Cartes contenant les plats */
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 5px 0px lightgray;
          box-shadow: 0px 5px 5px 0px lightgray;
  width: 90%;
  height: 70px;
  font-size: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.menu__case_texte {
  /* Partie texte des cartes */
  width: 85%;
  -webkit-transition: width 500ms;
  transition: width 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  gap: 5px;
}

.menu__case_texte h3 {
  font-size: 17px;
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu__case_texte p {
  margin: 0px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu__case_prix {
  /* Partie prix des cartes */
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 15px;
  font-weight: bold;
}

.menu__case_panier {
  /* Petite coche lors de l'ajout de plat à sa commande */
  background-color: #99E2D0;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px 15px 15px 0px;
  margin-right: -140px;
  -webkit-transition: margin 500ms;
  transition: margin 500ms;
}

.menu__case_panier i {
  color: #99E2D0;
  background-color: white;
  border-radius: 25px;
  font-size: 16px;
  padding: 2px 3px;
}

.menu__case:hover {
  cursor: pointer;
}

.menu__case:hover .menu__case_panier {
  /* Lors du clique sur la carte, apparition de la petite coche à droite du plat */
  margin-right: 0px;
  -webkit-animation: panierCheck 500ms;
          animation: panierCheck 500ms;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.menu__case:hover .menu__case_panier i {
  -webkit-animation: spinCheck 500ms;
          animation: spinCheck 500ms;
}

.menu__case:hover .menu__case_texte {
  width: 65%;
}

footer {
  background-color: #242526;
  padding: 20px 0px 2px 15px;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 27%;
}

footer ul {
  padding: 0px;
  line-height: 20px;
}

footer li {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}

footer li a {
  color: white;
  font-size: 15px;
}

footer li i {
  font-size: 10px;
}

footer li:first-child a {
  padding-left: 11px;
}

footer li:nth-child(2) a {
  padding-left: 7px;
}

@media screen and (min-width: 500px) {
  header img {
    width: 35%;
  }
  button {
    width: 250px;
  }
  .fonctionnement {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 2%;
    gap: 20px;
  }
  .fonctionnement h2 {
    width: 100%;
  }
  .fonctionnement ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 20px 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .fonctionnement ol li {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-right: 15px;
  }
  .restaurants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .restaurants h2 {
    padding: 0px 2%;
  }
  .restaurants .card {
    width: 45%;
  }
  footer img {
    width: 120px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu {
    width: 48%;
  }
}

@media screen and (min-width: 1000px) {
  header img {
    width: 25%;
  }
  .restaurants {
    padding: 30px 2% 70px;
  }
  .restaurants .card {
    width: 23%;
  }
  .section {
    gap: 30px 0px;
  }
  .menu {
    width: 33%;
  }
}
/*# sourceMappingURL=style.css.map */