@font-face {
    font-family: "Shrikhand";
    src: url(../font/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Regular.ttf);
}


@keyframes spin {                           /* Animation loader*/
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}
@keyframes fadeOut {                    /* Animation Loader */
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 0;
        visibility: hidden;
    }
}

@keyframes heart-anim {                     /*Animation "J'aime*/
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes slideIn{                         /* Animation chargement pages des restaurants */
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes panierCheck {                   /* Animation ajout de plat à la commande */
    0% {
        transform: scaleX(0)
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes spinCheck {                      /* Animation ajout de plat à la commande */
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 167px) {
    #too {
        font-size: 5px;
        text-overflow: ellipsis;
    }
    .fonctionnement ol li {
        flex-wrap: wrap;
        p {
            margin: 0px;
        }
    }
}
/* Page D'accueil */

.container {                                /* Loader */
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 3s forwards;
    .loader {
        border-right: 16px solid #FF79DA;
        border-top: 16px solid #9356DC;
        border-bottom: 16px solid #99E2D0;
        border-left: 16px solid white;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        animation: spin 2s linear infinite;
    }
}

body {
    font-size: 16px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}
* {
    font-family: "Roboto", sans-serif;
}
h2 {
    font-size: 20px;
    width: 90%;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    box-shadow: 0px 0px 0px 20px black;
    img {
        width: 42%;
    }
    a {                                     /* Bouton retour */
        position: absolute;
        left: 30px;
    }
    i {
        font-size: 20px;
    }
}


.loc {                                      /* Formulaire de recherche localisation */              
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    i {
        font-size: 18px;
        
        left: 40px;
    }
    form {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
form input {
    background-color: #ebebeb;
    border: none;
    padding: 10px 0px 10px 10px;
    font-size: 20px;
    width: 70%;
    left: 50px;
    text-overflow: ellipsis;

}


.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    padding: 15px 0px 50px 0px;

    h1 {
        width: 70%;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0px;
    }
    p {
        font-size: 16px;
        text-align: center;
        width: 80%;
        margin: 10px 0px 20px 0px;
        color: gray;
    }
}
button {                                /* Boutons "Commander" */
    font-size: 15px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 100px;
    padding: 15px;
    color: white;
    border: none;
    width: 55%;
    box-shadow: 2px 2px 11px #f2f2f272;
    text-align: center;
    &:hover {
        background: linear-gradient(#FF83DA, #935eDC);
        box-shadow: 4px 4px 15px #dfdfdf;
        cursor: pointer;
    }
}


.fonctionnement {                       /* Partie fonctionnement de l'appli */
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 20px;
    ol {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px;
        width: 85%;
        li {
            display: flex;
            align-items: center;
            //flex-wrap: wrap;
            list-style: none;
            height: 70px;
            background-color: #F2F2F2;
            margin: 0px;
            box-shadow: 0px 5px 5px 0px lightgray;
            border-radius: 15px;
            gap: 20px;
            text-overflow: ellipsis;
            &:hover {
                background-color: #ECEBEE;
                cursor: pointer;
                i {
                    color: #9356DC;
                }
            }
            i {
                color: gray;
                font-size: 15px;
            }
            p:first-child {
                background-color: #9356DC;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                right: 13px;
                font-size: 15px;
                padding: 7px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                color: white;
            }
            p:nth-child(3) {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    
}
.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 0px 70px 0px;
    background-color: #F2F2F2;
    margin-top: 60px;
    h2 {
        margin-bottom: 0px;
        font-size: 23px;
    }
}
.nouveau {                  /* Vignettes "Nouveau" sur les cartes de restaurants */
    position: absolute;
    background-color: #99E2D0;
    padding: 5px 10px 5px 10px;
    color: green;
    right: 15px;
    font-weight: bold;
    font-size: 12px;
}
.card {                             /* Cartes de restaurants */
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 230px;
    border-radius: 15px;
    box-shadow: 2px 5px 10px 2px lightgray;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    &__img {                        /* Partie image des cartes */
        height: 68%;
        width: 100%;
       
        img {
           object-fit:cover;
           width: 100%;
           height: 100%;
           border-radius: 15px 15px 0px 0px;
           }
    }
    &__desc {                       /* Partie inférieure des cartes */
        text-decoration: none;
        height: 32%;
        font-size: 20px;
        background-color: white;
        border-radius: 0px 0px 15px 15px;
        display: flex;
        > a {             /* Texte de description */
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 3px;
            justify-content: center;
            padding-left: 10px;
            h3, p {
                margin: 0px;
                font-size: 17px;
            }
        }
        > div {              /* Bouton "J'aime" */
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            i {
                font-size: 25px;
                padding: 5px;
            }
            .fa-solid {         /* Le coeur rose est invisible par défault */
                opacity:0;
                position: absolute;
            }
            .fa-regular {
                opacity:1;
                position: absolute;
            }
            &:hover {
                .fa-solid {         /* Le coeur rose apparait */
                    opacity:1;
                    color: #FF79DA;
                    animation: heart-anim 250ms;
                    transform-origin: 50% 100%;
                }
            }
        }
    }
}


/* Partie pages restaurants */


.carte { 
    background-color: #f2f2f2;
    &__img {                /* Image en fond sur la page de menu */
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
    
}
.section {
    border-radius: 50px 50px 0px 0px;
    background-color: #F2F2F2;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 65px;
    gap: 30px;
    &__titre {                      /* Titres de restaurant sur la page de menu */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        h1 {
            margin: 0px;
            font-size: 25px;
            font-family: "Shrikhand", sans-serif;
            font-weight: lighter;
        }
        &--i {
            position: absolute;
            right: 40px;
            width: 25px;
            height: 25px;
            i{
                font-size: 25px;
            }
            &:hover {
                cursor: pointer;
                .fa-solid {
                    opacity:1;
                    color: #FF79DA;
                    animation: heart-anim 250ms;
                    transform-origin: 50% 100%;
                }
            }
        }
        .fa-solid {                 /* Le coeur rose est invisble par défault */
            opacity:0;
            position: absolute;
        }
        .fa-regular {
            opacity:1;
            position: absolute;
        }
        
    }
    button {
        margin: 20px 20%;
    }
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
           
    h2 {
        font-weight: lighter;
        font-size: 17px;
    }
    hr {                        /* Sous-lignage */
        position: relative;
        left: 5%;
        bottom: 7px;
        margin: 0px;
        width: 42px;
        align-self: flex-start;
        border: 1px solid #99E2D0;
        background-color: #99E2D0;
    }
    @for $var from 1 to 4 {                     /* Animation chargement page des menus */
        &--#{$var} {
            animation: slideIn 2s calc(1s * #{$var}) both;
        }
    }
    &__case {                   /* Cartes contenant les plats */
        border-radius: 15px;
        box-shadow: 0px 5px 5px 0px lightgray;
        width: 90%;
        height: 70px;
        font-size: 20px;
        background-color: white;
        display: flex;
        overflow: hidden;
        
        
        &_texte {           /* Partie texte des cartes */
            width: 85%;
            transition: width 500ms;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            gap: 5px;
            h3 {
                font-size: 17px;
                margin: 0px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            p {
                margin: 0px;
                font-size: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        &_prix {            /* Partie prix des cartes */
            width: 15%;
            display: flex;
            align-items: end;
            font-size: 15px;
            font-weight: bold;
            
        }
        &_panier {          /* Petite coche lors de l'ajout de plat à sa commande */
            background-color: #99E2D0;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 15px 15px 0px;
            margin-right: -140px;
            transition: margin 500ms;
            
            i {
                color: #99E2D0;
                background-color: white;
                border-radius: 25px;
                font-size: 16px;
                padding: 2px 3px;
                
            }
        }
        &:hover {
            cursor: pointer;
            .menu__case_panier {        /* Lors du clique sur la carte, apparition de la petite coche à droite du plat */
                margin-right: 0px;
                animation: panierCheck 500ms;
                transform-origin: 100% 50%;
                i {
                    animation: spinCheck 500ms;
                }
            }
            .menu__case_texte {
                width: 65%;
            }
        }
        
    }
    
}


footer{
    background-color: #242526;
    padding: 20px 0px 2px 15px;
    img {
        filter: invert(1);
        width: 27%;
    }
    ul {
        padding: 0px;
        line-height: 20px;
    }
    li {
        list-style: none;
        text-decoration: none;
        color: white;
        margin-bottom: 5px;
        a {
            color: white;
            font-size: 15px;
        }
        i {
            font-size: 10px
        }
    }
    li:first-child {
        a {
            padding-left: 11px;
        }
    }
    li:nth-child(2) {
        a {
            padding-left: 7px;
        }
    } 
}


@media screen and (min-width: 500px) {
    header img {
        width: 35%;
    }
    button {
        width: 250px;
    }
    .fonctionnement {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 30px 2%;
        gap: 20px;
        h2 {
            width: 100%;
        }
        ol {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px 30px;
            width: fit-content;
            li {
               flex-wrap: nowrap;
               padding-right: 15px;
            }
        }
    }
    .restaurants {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        h2 {
            padding: 0px 2%;
        }
        .card {
            width: 45%;
        }
    }
    footer img {
        width: 120px;
    }
}
@media screen and (min-width: 768px) {
    
    .section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .menu {
        width: 48%;
    }
    
    
}
@media screen and (min-width: 1000px) {
    header img {
        width: 25%;
    }
    .restaurants {
        padding: 30px 2% 70px;
        .card {
            width: 23%;
        }
    }
    .section {
        gap: 30px 0px;
    }
    
    .menu {
        width: 33%;
    }
}